@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";

/* Reset total para permitir o Full-Width */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #213547;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  /* Removido flex e place-items que quebravam o layout */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}